<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav>
			<div class="left-nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="shop.html">Shop</a></li>
				</ul>
			</div>
			<div class="brand"><a href="index.html"><span>TEA</span></a></div>
			<div class="cart"><a href="checkout.html"><span class="fas fa-shopping-cart"></span><span> (0)</span></a></div>
		</nav>
		<main class="index-container">
			<div class="blackimg">
				<div class="overlay">
					<h2>Black Teas</h2>
					<p>
						Our loose-leaf black teas are sourced directly from poor farmers in amet,
						consectetur adipisicing elit. Accusantium distinctio et expedita iusto,
						omnis praesentium quas repudiandae! Accusantium, aliquid cum, deleniti
					</p>
					<a href="shop.html#black-teas"><span>See our selection of black teas</span></a>
				</div>
			</div>
			<div class="bgimg">
				<div class="overlay">
					<h2>Green Teas</h2>
					<p>
						Our premium green tea varieties include Gunpowder, Jasmine, Vanilla and more in amet,
						consectetur adipisicing elit. Accusantium distinctio et expedita iusto,
						omnis praesentium quas repudiandae! Accusantium, aliquid cum, deleniti
					</p>
					<a href="shop.html#green-teas"><span>Buy green tea</span></a>
				</div>
			</div>
			<div class="herbalimg">
				<div class="overlay">
					<h2>Herbal Teas</h2>
					<p>
						Herbal Teas has been consumed since the stone-age. The wide array of aromas
						and tastes delight the senses, while their healing properties have been praised
						by traditional medicine for ages. Herbal teas have been known to cure everything from
						migraines to cancer and stubbed toes.
					</p>
					<a href="shop.html#herbal-teas"><span>Get some Herbal Teas</span></a>
				</div>
			</div>
		</main>
	</body>
</html>