<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav>
			<div class="left-nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="products.html">Shop</a></li>
				</ul>
			</div>
			<div class="brand"><a href="index.html"><span>TEA</span></a></div>
			<div class="cart"><a href="checkout.html"><span class="fas fa-shopping-cart"></span><span id="cartItems"> (0)</span></a></div>
		</nav>
		<main>
			<div class="shop-container">
				<h2 id="black-teas">Black Teas</h2>
				<div class="product-rows category-black">
					<div class="items">
						<div class="item-img"><img src="" alt=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number" value="1" min="1">
							<button id="buybtn">ADD TO CART</button>
						</div>
					</div>
					<div class="items">
						<div class="item-img"><img src="" alt=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number" value="1" min="1">
							<button>ADD TO CART</button>
						</div>
					</div>
					<div class="items">
						<div class="item-img"><img src=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number" value="1" min="1">
							<button>ADD TO CART</button>
						</div>
					</div>
				</div>
				<h2 id="green-teas">Green Teas</h2>
				<div class="product-rows category-green">
					<div class="items">
						<div class="item-img"><img src=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number" value="1" min="1">
							<button>ADD TO CART</button>
						</div>
					</div>
					<div class="items">
						<div class="item-img"><img src=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number" value="1" min="1">
							<button>ADD TO CART</button>
						</div>
					</div>
					<div class="items">
						<div class="item-img"><img src=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number" value="1" min="1">
							<button>ADD TO CART</button>
						</div>
					</div>
				</div>
				<h2 id="herbal-teas">Herbal Teas</h2>
				<div class="product-rows category-herbal">
					<div class="items">
						<div class="item-img"><img src=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number"value="1" min="1">
							<button>ADD TO CART</button>
						</div>
					</div>
					<div class="items">
						<div class="item-img"><img src=""></div>
						<div class="item-text">
							<h4></h4>
							<span class="price"></span>
							<p></p>
							<label>QUANTITY</label>
							<input type="number" value="1" min="1">
							<button>ADD TO CART</button>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script src="../scripts/jquery-3.3.1.min.js"></script>
		<script src="../scripts/products.js"></script>
	</body>
</html>