<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css">
			input, button, textarea {
				display: block;
				margin: 20px 10px;
			}
		</style>
	</head>
	<body>
		<label for="name">Name</label>
		<input type="text" id="name">
		<label for="comments">Comments</label>
		<textarea id="comments"></textarea>
		<button id="send">Submit</button>

		<div id="posted">
			<p></p>
		</div>

		<script src="../scripts/jquery-3.3.1.min.js"></script>
		<script>
			$(document).ready(function () {
				let name;
				let comment;
				let storeComments = {};
				let parsedComments = {};
				if (localStorage.getItem('savedComments') !== null) {
				    parsedComments = JSON.parse(localStorage.getItem('savedComments'));
				    console.log(parsedComments);
				    for (i in parsedComments) {
				        let getName = [i];
				        let getComment = parsedComments[i];
                        $('#posted').find('p').append('<strong>' + getName + '</strong>' + '<br>' +  getComment + '<br>');

					}
				}
				$('#send').on('click', function () {
				    if(localStorage.getItem('savedComments') !== null) {
				        parsedComments = JSON.parse(localStorage.getItem('savedComments'));
                        name = $('#name').val();
                        comment = $('#comments').val();
                        $('#posted').find('p').append('<strong>' + name + '</strong>' + '<br>' +  comment + '<br>');
                        parsedComments[name] = comment;
                        localStorage.setItem('savedComments', JSON.stringify(parsedComments));
                    }
                    else {
                        name = $('#name').val();
                        comment = $('#comments').val();
                        storeComments[name] = comment;
                        $('#posted').find('p').append('<strong>' + name + '</strong>' + '<br>' +  comment + '<br>');
                        localStorage.setItem('savedComments', JSON.stringify(storeComments));
                        console.log(JSON.parse(localStorage.getItem('savedComments')));
					}

                });
            });
		</script>
	</body>
</html>